/* Root variables */

:root {
    --darkgrey: #333;
    --black: #000000;
    --white: #ffffff;
    --blue: rgb(56, 92, 173);
    --skyblue: rgb(35, 141, 193);
    --lightgrey: #f0f0f0;
    --cakeblue: rgb(173, 216, 230);
    --lightblue: rgb(224, 238, 241);
    --cakegreen: rgb(144, 238, 144);
}


/* Base styles */
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 2rem;
    background-color: var(--lightgrey);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    justify-content: center;
}

h2 {
    text-align: center;
}

main {
    margin-top: 2.5rem;
}


/* Navigation styles */

#main-nav {
    position: fixed;
    margin-bottom: 6rem;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 17PX;
    display: flex;
    justify-content: center;
}

#main-nav ul li {
    position: relative;
    margin: 0 15px;
}

#main-nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

#main-nav ul li a:hover {
    color: var(--skyblue);
    background-color: rgba(255, 255, 255, 0.1);
}

#main-nav ul li a:active {
    color: var(--skyblue);
}


/* Dropdown menu styles */

/* MODIFICADO */
#main-nav ul li ul {
    display: none;
    position: absolute;
    top: 67%;
    left: 30%;
    transform: translateX(-50%);
    background-color: var(--white);
    padding: 0;
    list-style-type: none;
    min-width: 150px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#main-nav ul li:hover ul {
    display: block;
    opacity: 1;
}

#main-nav ul li ul li {
    margin: 0;
}

#main-nav ul li ul li a {
    display: block;
    padding: 10px 15px;
    color: var(--darkgrey);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

#main-nav ul li ul li a:hover {
    background-color: var(--lightgrey);
    color: var(--skyblue);
}

/* MODIFICADO */
#main-nav button {
    background-color: var(--darkgrey);
    color: var(--white);
    border: none;
    padding: 0px 15px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}


/* Banner styles */

#banner {
    margin-top: 4rem;
    background-color: var(--skyblue);
    height: 40rem;
    width: 100%;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MODIFICADO */
#banner-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}


/* Services section styles */

#services article {
    text-align: center;
    padding: 2rem;
    background-color: var(--white);
    color: var(--darkgrey);
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

/* How it works styles  MODIFICADO */ 

#how-it-works {
    background-color: var(--white);
    color: var(--darkgrey);
    margin: 4rem auto;
    max-width: 1200px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 4rem;
    text-align: left;
    font-size: 2rem;
}

#how-it-works h2 {
    color: var(--darkgrey);
    font-size: 3rem;
    margin-bottom: 2rem;
}

#how-it-works p {
    line-height: 1.6;
    margin-bottom: 2rem;
}

#how-it-works ul {
    list-style: none;
    padding: 0;
}

#how-it-works li {
    margin-bottom: 1.5rem;
    padding-left: 3rem;
    position: relative;
}

#how-it-works li:before {
    content: "✔";
    position: absolute;
    left: 0;
    color: var(--skyblue);
    font-weight: bold;
}

#how-it-works li:hover {
    transform: translateX(10px);
    transition: transform 0.3s ease;
}

/* Testimonials section styles */

#testimonials {
    display: grid;
    grid-template-columns: 3fr;
    gap: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 2rem;
    padding: 2rem;
    color: var(--cakeblue);
}

/* Testimonial styles */
.testimonial {
    display: flex;
    margin: 20px;
    text-align: start;
    padding: 2rem;
    background-color: var(--white);
    color: var(--darkgrey);
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    position: relative;
}

@media (min-width: 76.8rem) {
    #testimonials {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        width: 90%; /* Añadido para dar un poco de margen en los lados */
    }
}

.testimonial-image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.testimonial-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.5rem;
    color: var(--skyblue); /* Añadido para dar color al icono */
    background-color: var(--white); /* Añadido para dar fondo blanco */
    border-radius: 50%; /* Añadido para hacer el fondo circular */
    padding: 5px; /* Añadido para dar espacio alrededor del icono */
}

/* Logo styles */

.logo {
    max-height: 4rem;
    max-width: 4rem;
    display: block;
    justify-content: center;
    text-align: center;
}


/* Media queries */

@media (min-width: 76.8rem) {
    #services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        justify-content: space-between;
    }
}


/* Footer styles */

.site-footer {
    position: bottom;
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 2rem 0;
    margin-top: 4rem;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin-bottom: 2rem;
}

.footer-section h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-section ul {
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
    list-style-type: none;
    text-decoration: none;
}

.footer-section a {
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
}

.footer-section a:hover {
    color: var(--skyblue);
}

.social-media {
    display: block;
    /* Change from flex to block */
    text-align: left;
    /* Align text to the left */
}

.social-media svg {
    margin-right: 0.5rem;
    /* Adjust margin as needed */
    vertical-align: middle;
    /* Align icons with text */
}

.social-media p {
    display: inline-block;
    /* Keep text next to icons */
    vertical-align: middle;
    margin: 0;
    margin-bottom: 1rem;
    /* Add space between items */
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

main {
    flex: 1;
}

/* MODIFICADO */
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

/* Layout styles */

.layout {
    display: grid;
    gap: 0.4rem;
    grid-template-rows: 4rem 4rem auto 6rem 6rem 4rem;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "widget" "stats" "footer";
    height: 100vh;
}

@media (min-width: 48rem) {
    .layout {
        display: grid;
        grid-template-rows: 4rem auto 8rem 4rem;
        grid-template-columns: 16rem auto auto;
        grid-template-areas: "header header header" "nav main main" "nav widget stats" "footer footer footer";
    }
}

.layout header {
    grid-area: header;
    background-color: rgb(173, 216, 230);
    /* Light Blue */
}

.layout footer {
    grid-area: footer;
    background-color: var(--darkgrey);
    /* Light Green */
}

.layout nav {
    grid-area: nav;
    background-color: var(--blue);
    color: var(--white);
}

.layout main {
    grid-area: main;
    background-color: var(--white);
    /* Thistle (Light Purple) */
}

.layout article.widget {
    grid-area: widget;
    background-color: var(--skyblue);
    /* Bisque (Light Orange) */
    width: 100%;
}

.layout article.stats {
    grid-area: stats;
    background-color: var(--skyblue);
    /* Light Pink */
    width: 100%;
}


/* FAQ styles */

.faq-item {
    margin-bottom: 1.5rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.faq-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.faq-question {
    cursor: pointer;
    margin: 0;
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #e0e0e0;
}

.faq-answer {
    display: none;
    margin: 0;
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    animation: fadeIn 0.3s ease-in-out;
}

.faq-item.active .faq-answer {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Login styles */
.login-body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Optional: Set a background color */
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.login-container {
    margin-top: 10rem;
    position: center;
    justify-content: center;
    margin: -5px auto 20px;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.login-form .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox {
    margin-bottom: 15px;
}
.forgot-password {
    text-align: center;
    margin-bottom: 15px;
}
.forgot-password a {
    color: #007bff;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
.logo {
    display: block;
    text-align: center;
    justify-content: center;
    margin: -5px auto 20px;
    width: 100px; /* Adjust as needed */
}

/* Contact form styles */
.centered-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.centered-form input[type="text"],
.centered-form input[type="email"],
.centered-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.centered-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.centered-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Register styles */
.register-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Optional: Set a background color */
}
.register-container {
    width: 400px; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.register-form .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* MODIFICADO */
#services {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.service-section {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
}

.service-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.service-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-btn:hover {
    background-color: #ddd;
}

.service-btn.active {
    background-color: var(--darkgrey);
    color: #fff;
}

.service-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
}

.service-content.active {
    display: block;
    opacity: 1;
}

.service-icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 10px;
}

/* MODIFICADO */

/* New Employee Registration styles 
.new-employee-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Optional: Set a background color 
}

.new-employee-container {
    width: 400px; /* Adjust width as needed 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.new-employee-form .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.new-employee-form .input-group {
    margin-bottom: 15px;
}

.new-employee-form .input-group label {
    display: block;
    margin-bottom: 5px;
}

.new-employee-form .input-group input,
.new-employee-form .input-group select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-employee-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-employee-form button[type="submit"]:hover {
    background-color: #0056b3;
}*/
